<div class="flex justify-between py-4 px-[1px]">
  <div
    class="flex items-center border border-gray-400 px-2 rounded-lg focus-within:ring-blue-500 focus-within:border-blue-500"
  >
    <label>
      <span class="sr-only">Status</span>
      <select
        required
        name="name"
        class="form-control block w-full pl-2 pr-7 py-[10px] border-0 "
      >
        <option value="Active" selected>Local</option>
        <option value="Error">Global</option>
        <option value="Hold">Variable</option>
      </select>
    </label>

    <span class="h-5 bg-gray-800 my-auto" style="width: 1px"></span>

    <label for="table-search">
      <span class="sr-only">Search</span>
      <div class="relative flex items-center mt-1">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            class="w-5 h-5 text-gray-500"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <input
          type="text"
          id="table-search"
          class="bg-transparent w-52 text-gray-900 text-sm rounded-lg border-none  block pl-10 p-2.5"
          placeholder="Search for items"
        />
      </div>
    </label>
  </div>

  <div class="flex items-center gap-4">
    <label for="table-filter">
      <span class="sr-only">Filter</span>
      <div class="relative flex items-center mt-1">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            width="18"
            height="17"
            viewBox="0 0 18 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.6564 16L7.34356 14.4557V8.73418L1 1H17L11 8.49367L10.6564 16Z"
              stroke="#2F2F2E"
              stroke-width="1.5"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <select
          required
          name="name"
          class="form-control block w-full pl-10 bg-[#F3F3F1] shadow-[1px_1px_1px_rgba(0,0,0,0.2)] rounded border-0 "
        >
          <option value="Active" selected>Filter</option>
          <option value="Error">Global</option>
          <option value="Hold">Variable</option>
        </select>
      </div>
    </label>

    <label for="table-export">
      <span class="sr-only">Export As</span>
      <div class="relative flex items-center mt-1">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.08008 17.0999H13.4201C14.5246 17.0999 15.4201 16.2045 15.4201 15.0999V7.68994L11.1501 2.93994H7.08008C5.97551 2.93994 5.08008 3.83537 5.08008 4.93994V15.0999C5.08008 15.6304 5.29079 16.1391 5.66586 16.5142C6.04094 16.8892 6.54965 17.0999 7.08008 17.0999Z"
              stroke="#2F2F2E"
              stroke-width="1.5"
            />
            <path
              d="M11.1499 3.46994V8.38994H15.4099"
              stroke="#2F2F2E"
              stroke-width="1.5"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <select
          required
          name="name"
          class="form-control block w-full pl-10 bg-[#F3F3F1] shadow-[1px_1px_1px_rgba(0,0,0,0.2)] rounded border-0 "
        >
          <option value="Active" selected>Export As</option>
          <option value="Error">Global</option>
          <option value="Hold">Variable</option>
        </select>
      </div>
    </label>

    <!-- <div class="flex items-center">

      <label class="block">
        <span class="sr-only">Start Date</span>
        <input
          required
          type="date"
          name="startDate"
          class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        />
      </label>
      <label class="block">
        <span class="sr-only">End Date</span>
        <input
          required
          type="date"
          name="endDate"
          class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
        />
      </label>
    </div> -->
  </div>
</div>
