<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<div id="myModal" class="modal">
  <div class="modal-content flex flex-col justify-between">

    <div>
      <h3 class="text-base font-bold mb-5">Delete Row?</h3>

      <p>This Action cannot be undone</p>
      <p>Do you want to continue?</p>
    </div>

    <div class="modal-footer flex justify-end">
      <button
        data-modal-toggle="popup-modal"
        type="button"
        class="cancel-button"
      >
        Yes, I'm sure
      </button>
      <button
        data-modal-toggle="popup-modal"
        type="button"
        class="delete-button"
      >
        Yes, I'm sure
      </button>
    </div>
  </div>
</div>
